<%- include('../partials/header'); %>

<main class="main main-country">
    <div class="container">
        <h2 class="header-h2"><%= name %></h2>
        <div class="row">
            <% data.forEach(item => { %>
                <div class="col-md-3">
                    <figure class="figure figure-country">
                        <img src="https://via.placeholder.com/150x150" alt="<%= item.title %>" class="img-fluid country-img" />
                        <figcaption>
                            <p>Country:</p><a href="/country/"><%= item.country_id %>. <%= item.country %> </a> | <p>Capital:</p> <%= item.capital %> | <p>Population:</p> <%= item.population %>
                        </figcaption>

                    </figure>
                </div>

            <% }) %>
        </div>
    </div>
</main>
<%- include('../partials/footer'); %>